.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background: #55c0dd;
}
.menu {
  display:flex;
  width: 100%;
  height: 20vh;
  align-items: center;
  background-color: #61dafb;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.menu h1 {
  cursor:default;
  user-select: none;
  width: 30%;
}
nav {
  width: 70%;
}
.menu nav ul {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.selected {
  background-color: rgba(240, 248, 255, 0.623);
}
.menu nav ul li {
  transition: .6s;
  list-style-type: none;
  padding: 1rem 2rem;
}
.menu nav ul li a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(0, 26, 82);
  font-weight: 500;
}
.menu nav ul li:hover {
  transition: .6s;
  border-radius: 10px 10px;
  background-color: aqua;
}

